@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
    background-color: #f2f2f2;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555555;
    /*гладкий шрифт на мобильных устройствах*/
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #333333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-brand {
    color: #999999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}

#headerwrap {
    background: url("../img/header-bg.jpg") no-repeat center top;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    background-size: 100%;

    /*для нормализации для всех расширений экрана*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#headerwrap h1 {
    margin-top: 100px;
    color: #ffffff;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#headerwrap h2 {
    color: #cccccc;
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content {
    padding-top: 35px;
}

.content h4 {
    font-size: 26px;
}

.tilt {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.tilt img {
    width:350px;
}

#portfolio {
    background: #e0e0e0;
    padding-top: 70px;
    text-align: center;
}
#portfolio h4 {
    font-size: 40px;
}

.wb {
    padding-top: 35px;
    margin-bottom: 0;
}

.wb h4 {
    font-size: 36px;
}

#partners {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#partners h4 {
    font-size: 46px;
}

#partners img {
    width: 200px;
    height: 160px;
}

#bottom-block {
    background: #ff7878;
    padding-top: 70px;
    padding-bottom: 70px;
}

#bottom-block h4 {
    color: #ffffff;
    font-size: 45px;
}

#footer {
    background: #2d2d2d;
    padding-top:30px;
    padding-bottom: 20px;
}

#footer i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}

#footer i:hover {
    color: #ff7878;
}
